name: CI

on:
  pull_request:
    branches: [ DEV, main ]
  push:
    branches: [ DEV, main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build with Maven
        run: mvn -B clean install

      - name: Run tests
        run: mvn test